@import 'component/dropdown-menu';
@import 'component/dropdown-sticky-menu';

.icon-home-container {
    .icon {
        &.icon-home {
            width: 18px;
            height: 18px;

            & > svg {
                top: 2px;
            }
        }
    }
}
