$sschreier-dropdownmenu-stickymenu-zindex: 1000 !default;
$sschreier-dropdownmenu-stickymenu-transition-duration: 400 !default;
$sschreier-dropdownmenu-stickymenu-border-bottom: 1px solid #bcc1c7 !default;

.main-navigation-dropdown-sticky {
    background: #ffffff;
    position: fixed;
    z-index: $sschreier-dropdownmenu-stickymenu-zindex;
    width: 100%;
    top: 0;
    transition-delay: 0s;
    transition-property: transform;
    transition-duration: $sschreier-dropdownmenu-stickymenu-transition-duration * 1ms;
    transition-timing-function: ease-in-out;
    transform: translateY(-100%);

    &.is--active {
        transform: translateY(0);
        border-bottom: $sschreier-dropdownmenu-stickymenu-border-bottom;
    }
}