$sschreier-dropdown-menu-box-shadow: 5px 10px 16px rgba(0, 0, 0, 0.2), -5px 10px 16px rgba(0, 0, 0, 0.2) !default;
$sschreier-dropdown-menu-position-left: 0 !default;
$sschreier-dropdown-menu-min-width: 275 !default;
$sschreier-dropdown-menu-font-size: 14 !default;
$sschreier-dropdown-menu-padding: 8px 20px 8px 20px !default;
$sschreier-dropdown-menu-distance-text-to-left: 16 !default;

@media (min-width: 992px) {
    .main-navigation-wrapper-dropdown {
        &.dropdownmenu-is-right-aligned {
            .main-navigation {
                .main-navigation-menu {
                    float: right;
                }
            }
        }

        .main-navigation {
            .main-navigation-menu {
                position: relative;

                > .main-navigation-link {
                    padding: 8px 32px 8px 0;

                    .dropdown-menu {
                        .main-navigation-link-text {
                            font-size: $sschreier-dropdown-menu-font-size * 1px;
                        }
                    }

                    > .main-navigation-link-text {
                        padding: 0 0 3px 0;
                    }

                    &.active {
                        &:hover {
                            > .main-navigation-link-text {
                                &.active {
                                    color: $sw-text-color;

                                    .icon {
                                        color: $sw-text-color;

                                        svg {
                                            color: $sw-text-color;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .main-navigation-link {
                position: relative;
                padding: 4px 0 4px 0;
                color: $sw-text-color;

                .main-navigation-link-text {
                    display: block;
                    padding: 0 4px 0 4px;
                    text-decoration: none;
                    color: $sw-text-color;

                    .icon {
                        color: $sw-text-color;

                        svg {
                            color: $sw-text-color;
                        }
                    }
                }

                &.active {
                    font-weight: normal;

                    > .main-navigation-link-text {
                        font-weight: 700;
                    }

                    &:hover {
                        .main-navigation-link-text {
                            color: $sw-text-color;

                            .icon {
                                color: $sw-text-color;

                                svg {
                                    color: $sw-text-color;
                                }
                            }

                            &.active {
                                color: $sw-color-brand-primary;

                                .icon {
                                    color: $sw-color-brand-primary;

                                    svg {
                                        color: $sw-color-brand-primary;
                                    }
                                }
                            }
                        }
                    }
                }

                &:hover {
                    > .main-navigation-link-text {
                        color: $sw-color-brand-primary;

                        .icon {
                            color: $sw-color-brand-primary;

                            svg {
                                color: $sw-color-brand-primary;
                            }
                        }
                    }
                }
            }

            .dropdown {
                > .dropdown-menu {
                    display: block;
                    min-width: $sschreier-dropdown-menu-min-width * 1px;
                    padding: $sschreier-dropdown-menu-padding;
                    margin-top: 0;
                    top: calc(100% + 1px);
                    margin-left: $sschreier-dropdown-menu-position-left * 1px;
                    visibility: hidden;
                    opacity: 0;
                    transition: visibility 0.2s, opacity 0.2s linear;
                    border-radius: 0;
                    border: none;
                    box-shadow: $sschreier-dropdown-menu-box-shadow;

                    .main-navigation-link-text {
                        &:hover {
                            color: $sw-color-brand-primary;

                            .icon {
                                color: $sw-color-brand-primary;

                                svg {
                                    color: $sw-color-brand-primary;
                                }
                            }
                        }

                        > span {
                            display: block;
                            width: 100%;

                            .icon {
                                &.icon-arrow-medium-left {
                                    float: left;

                                    svg {
                                        top: 0;
                                    }
                                }

                                &.icon-arrow-medium-right {
                                    float: right;

                                    svg {
                                        top: 2px;
                                    }
                                }
                            }
                        }
                    }

                    &.dropdown-menu-right.dropdown-menu-level-1,
                    &.dropdown-menu-right.dropdown-menu-level-2,
                    &.dropdown-menu-right.dropdown-menu-level-3,
                    &.dropdown-menu-right.dropdown-menu-level-4,
                    &.dropdown-menu-right.dropdown-menu-level-5 {
                        right: 100%;
                        left: auto;
                    }
                }

                .dropdown-menu {
                    .icon-arrow-medium-left {
                        display: none;
                    }
                }

                .dropdown-menu-right {
                    .main-navigation-link-text {
                        &.has-no-children {
                            margin-left: $sschreier-dropdown-menu-distance-text-to-left * 1px;
                        }
                    }

                    .icon-arrow-medium-left {
                        display: block;
                    }

                    .icon-arrow-medium-right {
                        display: none;
                    }
                }

                &.dropend {
                    > .dropdown-menu {
                        top: 0;
                        margin-left: -1px;
                        right: auto;
                        left: 100%;
                    }
                }

                &:hover {
                    > .dropdown-menu {
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }
        }

        &.has-dropdownmenu {
            .main-navigation {
                .main-navigation-menu {
                    .main-navigation-link {
                        .main-navigation-link-text {
                            border: none;
                        }
                    }
                }
            }
        }
    }
}
