<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>dropdown menu</title>
        <title lang="de-DE">Dropdown-Menü</title>

        <input-field type="bool">
            <name>dropdownMenuIsActive</name>
            <label>activate</label>
            <label lang="de-DE">aktivieren</label>
            <defaultValue>true</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>dropdownMenuRightAligned</name>
            <label>show menu right-aligned</label>
            <label lang="de-DE">Menü rechtsbündig anzeigen</label>
            <defaultValue>false</defaultValue>
        </input-field>
    </card>

    <card>
        <title>design of the dropdown menu</title>
        <title lang="de-DE">Gestaltung des Dropdown-Menüs</title>

        <input-field type="text">
            <name>dropdownMenuBoxShadow</name>
            <label>shadow of the menu</label>
            <label lang="de-DE">Schatten des Menüs</label>
            <defaultValue>5px 10px 16px rgba(0, 0, 0, 0.2), -5px 10px 16px rgba(0, 0, 0, 0.2)</defaultValue>
            <placeholder>5px 10px 16px rgba(0, 0, 0, 0.2), -5px 10px 16px rgba(0, 0, 0, 0.2)</placeholder>
        </input-field>

        <input-field type="int">
            <name>dropdownMenuPositionLeft</name>
            <label>distance to the left in pixels</label>
            <label lang="de-DE">Abstand nach links in Pixeln</label>
            <defaultValue>0</defaultValue>
            <placeholder>0</placeholder>
        </input-field>

        <input-field type="int">
            <name>dropdownMenuMinWidth</name>
            <label>min width in pixels</label>
            <label lang="de-DE">Mindestbreite in Pixeln</label>
            <defaultValue>275</defaultValue>
            <placeholder>275</placeholder>
        </input-field>

        <input-field type="int">
            <name>dropdownMenuFontSize</name>
            <label>font size in pixels</label>
            <label lang="de-DE">Schriftgröße in Pixeln</label>
            <defaultValue>16</defaultValue>
            <placeholder>16</placeholder>
        </input-field>

        <input-field type="text">
            <name>dropdownMenuPadding</name>
            <label>padding</label>
            <label lang="de-DE">Innenabstand</label>
            <defaultValue>8px 20px 8px 20px</defaultValue>
            <placeholder>8px 20px 8px 20px</placeholder>
        </input-field>
    </card>

    <card>
        <title>open dropdown menus to the left</title>
        <title lang="de-DE">Dropdown-Menü nach links öffnen</title>

        <input-field type="bool">
            <name>dropdownMenuAlwaysOpenToLeft</name>
            <label>always open to the left (useful, for example, for a right-aligned menu with a few main navigation menu items)</label>
            <label lang="de-DE">immer nach links öffnen (sinnvoll beispielsweise bei einem rechtsbündigen Menü mit wenigen Hauptmenüpunkten)</label>
            <defaultValue>false</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>dropdownMenuMultiLineOpenLastChildToLeft</name>
            <label>open the dropdown menus of the last main navigation menu item of a line of a full-surface or multi-line menu to the left</label>
            <label lang="de-DE">bei einem vollflächigen oder mehrzeiligen Menü die Dropdown-Menüs des jeweils letzten Hauptmenüpunktes einer Zeile nach links öffnen</label>
            <defaultValue>false</defaultValue>
        </input-field>

        <input-field type="single-select">
            <name>dropdownMenuNumberMainNavigationMenuItemsOpenToLeft</name>
            <label>number of main navigation menu items where the dropdown menu should open to the left</label>
            <label lang="de-DE">Anzahl an Hauptmenüpunkten, ab denen das Dropdown-Menü nach links geöffnet werden soll</label>
            <options>
                <option>
                    <id>1</id>
                    <name>1</name>
                    <name lang="de-DE">1</name>
                </option>
                <option>
                    <id>2</id>
                    <name>2</name>
                    <name lang="de-DE">2</name>
                </option>
                <option>
                    <id>3</id>
                    <name>3</name>
                    <name lang="de-DE">3</name>
                </option>
            </options>
            <defaultValue>1</defaultValue>
        </input-field>

        <input-field type="int">
            <name>dropdownMenuMinimumNumberMainNavigationMenuItemsOpenToLeft</name>
            <label>minimum number of main navigation menu items per line from which the opening of the dropdown menu to the left should be checked</label>
            <label lang="de-DE">Mindestanzahl an Hauptmenüpunkten je Zeile, ab denen das Öffnen des Dropdown-Menüs nach links geprüft werden soll</label>
            <defaultValue>3</defaultValue>
            <placeholder>3</placeholder>
        </input-field>

        <input-field type="int">
            <name>dropdownMenuDistanceTextToLeft</name>
            <label>distance of the text to the left for a left-opening dropdown menu in pixels</label>
            <label lang="de-DE">Abstand des Textes nach links bei einem sich nach links öffnenden Dropdown-Menü in Pixeln</label>
            <defaultValue>16</defaultValue>
            <placeholder>16</placeholder>
        </input-field>
    </card>

    <card>
        <title>sticky effect of the menu</title>
        <title lang="de-DE">Sticky - Effekt des Menüs</title>

        <input-field type="bool">
            <name>dropdownStickyMenuIsActive</name>
            <label>activate</label>
            <label lang="de-DE">aktivieren</label>
            <defaultValue>false</defaultValue>
        </input-field>

        <input-field type="int">
            <name>positionDropdownStickyMenuIsActive</name>
            <label>position in pixels from which the menu should receive the sticky effect</label>
            <label lang="de-DE">Position in Pixeln, ab der das Menü den Sticky - Effekt erhalten soll</label>
            <defaultValue>120</defaultValue>
            <placeholder>120</placeholder>
        </input-field>

        <input-field type="multi-select">
            <name>activeViewportsDropdownStickyMenu</name>
            <options>
                <option>
                    <id>lg</id>
                    <name>tablet landscape (LG)</name>
                    <name lang="de-DE">Tablet Querformat (LG)</name>
                </option>
                <option>
                    <id>xl</id>
                    <name>desktop (XL)</name>
                    <name lang="de-DE">Desktop (XL)</name>
                </option>
                <option>
                    <id>xxl</id>
                    <name>large desktop (XXL)</name>
                    <name lang="de-DE">großer Desktop (XXL)</name>
                </option>
            </options>
            <label>viewports in which the menu should receive the sticky effect</label>
            <label lang="de-DE">Auflösungen, in denen das Menü den Sticky - Effekt erhalten soll</label>
        </input-field>
    </card>

    <card>
        <title>design of the sticky effect for the menu</title>
        <title lang="de-DE">Gestaltung des Sticky - Effekts für das Menü</title>

        <input-field type="int">
            <name>zIndexDropdownStickyMenu</name>
            <label>z-index value</label>
            <label lang="de-DE">z-index - Wert</label>
            <defaultValue>1000</defaultValue>
            <placeholder>1000</placeholder>
        </input-field>

        <input-field type="colorpicker">
            <name>backgroundColorDropdownStickyMenu</name>
            <label>background color</label>
            <label lang="de-DE">Hintergrundfarbe</label>
            <css>sschreier-background-color-dropdown-sticky-menu</css>
            <defaultValue>#ffffff</defaultValue>
            <placeholder>#ffffff</placeholder>
        </input-field>

        <input-field type="text">
            <name>borderBottomDropdownStickyMenu</name>
            <label>bottom border</label>
            <label lang="de-DE">Unterer Rahmen</label>
            <defaultValue>1px solid #bcc1c7</defaultValue>
            <placeholder>1px solid #bcc1c7</placeholder>
        </input-field>
    </card>

    <card>
        <title>home navigation menu item</title>
        <title lang="de-DE">Navigationsmenüpunkt Home</title>

        <input-field type="bool">
            <name>showNavigationMenuItemHome</name>
            <label>show</label>
            <label lang="de-DE">anzeigen</label>
            <defaultValue>true</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>replaceNavigationMenuItemHomeWithIcon</name>
            <label>replace with house icon</label>
            <label lang="de-DE">durch Haus - Icon ersetzt</label>
            <defaultValue>false</defaultValue>
        </input-field>
    </card>
</config>
