$sschreier-z-index-dropdown-sticky-menu: 1000 !default;
$sschreier-background-color-dropdown-sticky-menu: #ffffff !default;
$sschreier-border-bottom-dropdown-sticky-menu: 1px solid #bcc1c7 !default;

.nav-main-sticky {
    background-color: $sschreier-background-color-dropdown-sticky-menu;
    position: sticky;
    z-index: $sschreier-z-index-dropdown-sticky-menu;
    width: 100%;
    top: 0;
    border-bottom: $sschreier-border-bottom-dropdown-sticky-menu;
}
